[submodule "GameEngine/Engine/vendor/spdlog"]
	path = GameEngine/Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/Engine/vendor/imgui"]
	path = GameEngine/Engine/vendor/imgui
	url = https://github.com/thecherno/imgui
	update = rebase
