[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/Engine/vendor/GLFW"]
	path = GameEngine/Engine/vendor/GLFW
	url = https://github.com/thecherno/glfw
